body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:radial-gradient(to center top, #e7ebf1, #9ac9de) !important;
}

.module-card {
  display:block;
  margin: 0 auto;
  border:1px solid black;
}

/* Override Semantic UI */

.ui.checkbox label {
  color:white !important; /* fucking stupid, but whatever*/
}
    
.ui.list {
  height:100px;
  overflow-y:scroll;
}

/* Override not working */

.ui.right.center.popup {
  transform-origin:right 70% !important;
}

/* Master document page */


/* Output panel iframe sytling */

.frame-container {
  position: relative;
  margin: 0 -4px;
  height: 0;
  /*background: #222;
  background-image: -webkit-linear-gradient(top, transparent, transparent 4px, #2c2c2c 4px), -webkit-linear-gradient(left, transparent, transparent 4px, #2c2c2c 4px); */
}

.popup-panel {
  transform:translateX(100px);
}

iframe {
  position: absolute;
  margin:0;
  padding:0;
  border:none;
  left: 0;
  top: 0;
  width:100%;
  height:500px;
  border:0;
  box-sizing: border-box;
  transition: padding 2.4s linear;
}
